/* InitiativeSlides.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
/* no scroll on body     overflow: hidden;  */
  }
  
  .initiative-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
  
  .slide-content {
    max-width: 600px;
    margin-right: 2rem;
  }