/* src/index.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Joan', serif; /* or any fallback if 'Joan' is not available */
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}